/* .container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
} */
.main {
  display: flex;
}
/* .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
} */

.backToHome {
  margin: 3rem 0 0;
}
/* ul {
  display: flex;
} */
/* .li {
  list-style: none;
} */
